* {
  box-sizing: border-box;
}
body {
  background-color: #9b59b6;
  /* background-image: url(../images/bg-image.jpeg); */
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 600px;
  max-width: 100%;
  margin-top: 50px;
}
.btn:hover {
  background: white;
  border: 1px solid;
  color: black;
}
#ui {
  margin-top: 50px;
  border-radius: 10px;
}

.card {
  list-style: none;
  border: 1px solid black;
}

.all-wraper {
  margin: auto;
}

hr {
  border: 1px solid white;
}

#error-display {
  display: none;
}
#final-task {
  display: none;
}
#inProgress {
  display: none;
}
