* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(219, 226, 226);
}

.btn:hover {
  background: white;
  border: 1px solid;
  color: black;
}
#ui {
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
}
.second {
  border: 2px black solid;
}

.tt {
  background-color: rgb(49, 230, 49);
}
.cc {
  background-color: rgb(233, 46, 46);
}
.list-part {
  list-style: none;
  border: 1px solid black;
}
.row {
  display: flex;
  justify-content: space-between;
}
